.list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 0;
    margin: 0;
    list-style: none;
}

.listItem {
    background: linear-gradient(135deg, #f1f0ed, #efede6);
    border-radius: 16px;
    padding: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.listItem:hover {
    transform: perspective(600px) rotateX(4deg) rotateY(-4deg) scale(1.02);
    box-shadow: 0 14px 24px rgba(0, 0, 0, 0.45);
}

.title {
    font-size: 1.1rem;
    font-weight: 600;
    margin: 0 0 8px 0;
    color: #333741;
}

.content {
    margin: 0;
    flex-grow: 1;
    font-size: 0.95rem;
    line-height: 1.5;
    color: #374151;
    margin-bottom: 14px;

    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
}

.tag {
    display: inline-block;
    padding: 4px 12px;
    font-size: 18px;
    font-weight: 500;
    color: #334141;
    max-width: 120px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.link {
    padding: 6px 12px;
    font-size: 0.9rem;
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    transition: all 0.2s ease;
}

.link {
    color: #fff;
    background-color: #8D866F;
    ;
    border: none;
}

.link:hover {
    background-color: #746E5B;
}

.button {
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: #8D6F6F;
}

.button:hover {
    fill: #5B4747;
}