.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;

    color: #CABBC6;
    position: relative;
}

.headerLink {
    text-decoration: none;
    color: #5B4756;
    font-size: 42px;
    font-weight: bold;
}

.headerLink:hover {
    color: #8D6F86;
}


.burger {
    display: block;
    font-size: 2rem;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: #8D6F86;
    cursor: pointer;
    z-index: 1100;

}


.nav {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: #d6c5cc;
}

.nav.open {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation {
    list-style: none;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;

}

.navigationItem {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigationLink {
    text-decoration: none;
    color: #5B4756;
    font-size: 1.2rem;
}

.navigationLink:hover {
    color: #382b3d;
}


@media (min-width: 768px) {

    .burger {
        display: none;

    }


    .nav {
        display: flex;
        position: static;
        background: none;
        height: auto;
        margin: 0 auto;
        justify-content: flex-start;
    }

    .navigation {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        width: 100%;
    }

    .navigationItem {
        gap: 20px;
    }

    .navigationItem.tagsMenu {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    .navigationItem:not(.tagsMenu) {
        margin-right: 20px;
    }
}