body,
html {

  color: var(--foreground);
  background: var(--background);
  font-family: "Lora", serif;
  display: flex;
  flex-direction: column;
  height: 100%;

  margin: 0;
  background: #D1C8B8;


}