/* =========================
   Mobile-first
========================= */

.container {
    display: flex;
    flex-direction: column;
    /* мобильная версия: одна колонка */
    min-height: 100vh;
}

.sidebar {
    display: none;
    /* скрыт на мобильных */
    width: 250px;
    height: 100vh;

    padding: 16px;
    box-sizing: border-box;
    flex-shrink: 0;

}

.notesWrapper {
    width: 100%;
    /* занимает всю ширину на мобильных */
    padding: 16px;
    box-sizing: border-box;
}

/* =========================
   Планшет и десктоп
========================= */
@media (min-width: 768px) {
    .container {
        flex-direction: row;
        /* две колонки: sidebar + контент */
    }

    .sidebar {
        display: block;
        /* показываем сайдбар */

        /* фиксируем слева */
        top: 0;
        left: 0;
        height: auto;

    }

    .notesWrapper {


        /* сдвигаем контент под сайдбар */
        width: 100%;
    }
}